{% extends 'base.html' %}

{% block title %}
    Montaż gzymsów
{% endblock %}

{% block content %}
    <p class="home-page-text-1">
        <b>EXAMPLE FIRM NAME</b> to wyjątkowa firma remontowa z Warszawy zapewniająca kompleksowe usługi, które
        sprostają oczekiwaniom każdego, nawet najbardziej wymagającego klienta. Mogą nam Państwo powierzyć swoje
        mieszkania, biura, a nawet obiekty przemysłowe. Obiecujemy, że dołożymy wszelkich starań, by efekt końcowy
        był w 100% zgodny z Państwa potrzebami oraz oczekiwaniami.
    </p>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1">
        </button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img src="/static/img/1.jpg" class="d-block w-100" alt="cornices image">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="/static/img/2.png" class="d-block w-100" alt="cornices image">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="/static/img/3.jpg" class="d-block w-100" alt="cornices image">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div><br>
    <p class="home-page-text">
        Swoją ofertę kierujemy zarówno do klientów indywidualnych, jak i do firm działających w różnych sektorach.
        Zajmujemy się zarówno drobnymi modernizacjami wnętrz, jak i większymi pracami wykończeniowymi w różnego
        rodzaju obiektach (mieszkania, domy, biura, obiekty przemysłowe, itp.). </p>
    <p class="home-page-text">
        Do każdego zlecenia podchodzimy indywidualnie – zanim przystąpimy do działania, omówimy z klientem jego
        oczekiwania i proponowane przez nas rozwiązania oraz zakres świadczonych usług.

        <img src="/static/img/4.webp" class="img-fluid"
             style="float: right; max-height: 350px; padding: 10px;" alt="cornices image">

        Zaproponujemy również <b>indywidualne warunki cenowe</b> i spiszemy umowę, która jasno określi zakres oraz harmonogram
        działań. Cenimy sobie przejrzyste warunki współpracy, dlatego zadbamy o każdy, nawet najmniejszy detal.
    </p>
    <p class="home-page-text">
        Siedziba firmy <b>EXAMPLE FIRM NAME</b> znajduje się w Warszawie, jednak nie oznacza to, że świadczymy
        usługi remontowe wyłącznie na terenie stolicy. Jesteśmy elastyczni i możemy pochwalić się licznymi
        realizacjami na terenie całego kraju, a nawet poza jego granicami.
    </p>
    <p class="home-page-text">
        Oferujemy profesjonalny montaż listew przysufitowych marek Orac Decor, NMC, Mardom Decor, Creativa.
        Jesteśmy w stanie zamontować nawet bardzo wysokie gzymsy o wysokości przekraczającej 30 cm.
    </p>
    <p class="home-page-text" align="center">
        <b>Udzielamy pełnej gwarancji na wykonane prace.</b>
    </p>



{% endblock %}
